<div class="flex flex-column w-full px-5">
    <!-- Cards superiores con métricas clave -->
    <div class="flex w-full justify-content-center gap-3 column-responsive mb-3">
        <!-- Total Despachos -->
        <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Total Despachos</span>
                    <span class="font-bold text-3xl">{{getTotalDispatch()}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#000000' }">
                    <i class="pi pi-box text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>

        <!-- Ocupación de Bodegas -->
        <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Recepción skus</span>
                    <span class="font-bold text-3xl">{{graphDispatchStatus?.[2]?.count}} SKU</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#000000' }">
                    <i class="pi pi-warehouse text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>

        <!-- Novedades en Recepción -->
        <p-card class="flex-1"
            [style]="{
                'border-left': '5px solid #ef4444',
                'border-radius': '12px'
            }"
        >
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Novedades en Recepción</span>
                    <span class="font-bold text-3xl" [style]="{ color: '#ef4444' }">{{graphDiscrepancy}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#ef4444' }">
                    <i class="pi pi-exclamation-triangle text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>
    </div>

    <!-- Gráficos -->
    <div class="flex w-full gap-3 mt-3 column-responsive">
        <!-- Estado por Bodega -->
        <div class="flex card-info flex-column w-full" style="min-height: 25rem;">
            <span class="font-bold mb-3">Estado por Bodega</span>
            
            <div class="flex flex-column w-full gap-3">
                <div *ngFor="let warehouse of graphDestiny" class="flex flex-column gap-2">
                    <div class="flex justify-content-between align-items-center">
                        <span class="font-semibold">{{warehouse.name_destiny}}</span>
                        <span class="text-secondary">{{warehouse.count}}</span>
                    </div>
                </div>

                @if (graphDestiny?.length < 4) {
                    <span class="text-center mt-5 font-medium" style="color: #6c7673;">Sin más registros por el momento</span>
                }
            </div>
        </div>

        <!-- Gráfico de Novedades -->
        <div class="flex card-info justify-content-center align-items-center w-full" style="min-height: 25rem;">
            <div class="flex flex-column w-full h-full">
                <span class="font-bold mb-3">Gráfico de Novedades</span>
                <span class="text-secondary text-sm mb-3">Recepciones Correctas vs Novedades (Últimos 7 días)</span>
                <canvas class="mt-2" id="newsBarChart"></canvas>
            </div>
        </div>
    </div>
</div>
