:host::ng-deep

    h3
        margin: 0

    p
        color: #595959

    .font-verdana
        font-family: Verdana, Geneva, Tahoma, sans-serif


    .bg-login
        // background: rgb(243,233,251)
        // background: linear-gradient(228deg, rgba(243,233,251,1) 39%, rgba(222,199,231,1) 54%)
        background: #F3E9FB
        background: radial-gradient(at center top, #F3E9FB, #E2CEEA)

    .p-password-input 
        padding-left: 2.5rem
        border-color: #83378f
        font-size: .75rem !important
        background-color: var(--purple-50) !important
        width: 15rem
        font-size: .65rem
        height: 2.3rem


    .p-button-continue
        border: 1px solid #773282
        padding: 0.5rem
        background: linear-gradient(0deg, #773282 0%, #AF3BB1 100%) !important
        
    .bg-card-login
        background-color: #f6eefc
        border-bottom-left-radius: 20px!important
        border-bottom-right-radius: 20px!important
        border-bottom: 7px solid white!important
        border-right: 7px solid white!important
        border-left: 7px solid white!important

    .p-button.p-button-lg
        font-size: .9rem!important

    .bg-gradient
        background: rgb(85,30,119)
        background: linear-gradient(4deg, rgba(85,30,119,1) 43%, rgba(108,44,124,1) 85%)

        // Jefe de ventas
        // background: rgb(85,30,119)
        // background: linear-gradient(4deg, rgba(85,30,119,1) 43%, rgba(108,44,124,1) 85%)

        // Administrador
        // background: rgb(84,33,118)
        // background: linear-gradient(4deg, rgba(84,33,118,1) 100%, rgba(84,33,118,1) 100%)

        // Vendedor
        // background: linear-gradient(180deg, #83378f 99.99%, #562577 100%)

    .b-login-header
        border-top-left-radius: 20px
        border-top-right-radius: 20px
        border-top: 7px solid white
        border-right: 7px solid white
        border-left: 7px solid white

    .b-color-purple
        border-color: #83378f

    .text-primary--custom
        color: #83378f

    .icon-left
        position: absolute 
        left: 2rem

        @media screen and (max-width: 600px)        
            left: 0
    
    
    #dfa-container
        padding: 1rem

        .p-button 
            background: linear-gradient(180deg, #ffd941 100%, #a28202 100%) !important
    
    .previous-button
        position: absolute
        left: 0
        top: 5px
        color: #83378f
