<div class="p-header flex justify-content-between h-6rem py-5-header border-box align-items-center gap-2">
  <div>
    <p-button icon="pi pi-bars" styleClass="p-button-text text-color-secondary bg-transparent border-transparent w-hamburger"
      (onClick)="toggleMenu()"></p-button>
  </div>
  <span class="flex align-items-center w-full p-input-icon-right"
    [class]="{ 
      'justify-content-center': screenWidth < 600,
      'font-span': screenWidth > 600,
    }">

      @if (screenWidth < 600) {
        <img src="./assets/logo-xtrim-letras.svg" alt="logo-zentinel">
      }@else {
        Zentinel
      }

      
  </span>

  <p-button [icon]="iconTheme"
    styleClass="border-button text-primary--custom bg-transparent p-button-raised" 
    >
  </p-button>

  <p-button icon="pi pi-bell"
    styleClass="border-button text-primary--custom p-button-text p-button-raised bg-transparent">
  </p-button>
  
  <p-avatar [label]="user?.name_user?.length ? user?.name_user[0] : 'U'" size="large"
    shape="circle">
  </p-avatar>

  <div class="div-avatar">
    @if (user) {
      <div class="div-name w-10rem">
        <span style="font-size: 13px;" class="font-bold font-verdana">{{ user?.name_user }}</span>
        <span style="font-size: 14px;" class="font-verdana text-color-secondary">
          @if (user?.role_name != 'Vendedor') {
            {{ user?.role_name.replace('_',' ').replace('_',' ').replace('_',' ').replace('_',' ') }}
          }@else{
            Vendedor {{ user?.seller_code }}
          }
        </span>
        <span style="font-size: 14px;" class="font-verdana text-color-secondary">
          Canal {{ user?.channel}}
        </span>
      </div>
    }
  </div>
</div>