<div class="flex column-responsive w-full">
    <div class="flex card-info w-full justify-content-center gap-3">
        <div class="flex card-info" style="width: 9rem; height: 7rem;">
            <span>10</span>
        </div>

        <div class="flex card-info" style="width: 9rem; height: 7rem;">
            <span>10</span>

        </div>

        <div class="flex card-info" style="width: 9rem; height: 7rem;">
            <span>10</span>

        </div>

        <div class="flex card-info" style="width: 9rem; height: 7rem;">
            <span>10</span>

        </div>

        <div class="flex card-info" style="width: 9rem; height: 7rem;">
            <span>10</span>

        </div>
    </div>

    <div class="flex">

    </div>
</div>