<p-dialog header="Header" [closable]="false" [(visible)]="showModal" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-5">
                Detalle bitácora
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="div-responsive mt-4 gap-2">
            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Localidad: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.group_name}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Coordenadas: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.lat}},{{logbookSelected()?.long}} </label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Creado por: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.created_by}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Destino: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.destiny_intern ??
                    logbookSelected()?.destiny}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Categoria: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.name_category}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Cantidad: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.quantity}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Peso: </label>
                <label htmlFor="shipping_guide">{{logbookSelected()?.weight}}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Fecha Registro: </label>
                <label htmlFor="shipping_guide">{{ logbookSelected()?.created_at | date:'dd/MM/yyyy HH:mm':'UTC'
                    }}</label>
            </span>

            @if (logbookSelected()?.id_logbook_out) {
                <span class="w-full mt-1">
                    <label class="font-semibold" htmlFor="shipping_guide">Nombre Chófer: </label>
                    <label htmlFor="shipping_guide">{{ logbookSelected()?.name_driver }}</label>
                </span>

                <span class="w-full mt-1">
                    <label class="font-semibold" htmlFor="shipping_guide">Persona Custodia: </label>
                    <label htmlFor="shipping_guide">{{ logbookSelected()?.person_withdraws }}</label>
                </span>
            }
            @else {
                <span class="w-full mt-1">
                    <label class="font-semibold" htmlFor="shipping_guide">Decripción: </label>
                    <label htmlFor="shipping_guide">{{logbookSelected()?.description}}</label>
                </span>

                <span class="w-full mt-1">
                    <label class="font-semibold" htmlFor="shipping_guide">Proveedor: </label>
                    <label htmlFor="shipping_guide">{{logbookSelected()?.provider}}</label>
                </span>

            }

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Placa: </label>
                <label htmlFor="shipping_guide">{{ logbookSelected()?.truck_license }}</label>
            </span>

            <span class="w-full mt-1">
                <label class="font-semibold" htmlFor="shipping_guide">Observaciones: </label>
                <label htmlFor="shipping_guide">{{ !logbookSelected()?.observations || logbookSelected()?.observations
                    === '' ? 'N/C' : logbookSelected()?.observations }}</label>
            </span>

        </div>

        @if (logbookSelected()?.images?.length > 0) {
            <div class="flex flex-column mt-2">
                <label class="font-semibold" htmlFor="shipping_guide">Imágenes: </label>

                <div class="div-responsive mt-3">
                    <div class="flex justify-content-center" *ngFor="let image of logbookSelected()?.images">
                        <img style="object-fit: contain;" [src]="'http://st.telearseg.net' + image" alt="imagenes"
                            loading="lazy" height="190" width="180">
                    </div>
                </div>


            </div>
        }

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-5" style="font-size: 15px;">
            <p-button label="Cerrar" (onClick)="closeModal()" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>