:host::ng-deep

    h4
        margin-bottom: .5rem

    i
        font-size: 1.3rem

    .p-tabview-nav
        display: flex
        justify-content: center
        background-color: transparent

    .p-tabview-panels
        background-color: transparent
        padding: 1.25rem 0 0 0

    .card-info
        padding: 1rem
        border: 1px solid #f3f3f3
        border-radius: .5rem
        background-color: #ffffff

    .cab-label
        color: #728196
        font-size: 14px

    .det-label
        color: #1b1b1b
        font-weight: 500


    .det-avatar
        border-radius: 50%
        width: 3rem
        height: 3rem
        background-color: #dee2e6
        display: flex
        justify-content: center
        align-items: center

    .i-log
        display: flex
        justify-content: center
        align-items: center
        height: 4rem
        width: 4rem
        padding: 1rem
        border: 1px solid #f3f3f3
        border-radius: .5rem
        background-color: #e5eef7

        
    .p-dialog-header, .p-dialog-content, .p-dialog-footer
        background-color: #f8f6f6