<div class="flex flex-column w-full px-5">
    <div class="flex w-full justify-content-center gap-3 column-responsive">
        <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Total</span>
                    <span class="font-bold text-3xl">{{graphEntryStatus?.[2]?.count}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#00000' }">
                    <i class="pi pi-users text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>


        <p-card class="flex-1" 
            [style]="{
                'border-left': '5px solid #ef4444',
                'border-radius': '12px'
            }"
        >
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Pendiente de salida</span>
                    <span class="font-bold text-3xl">{{graphEntryStatus?.[1]?.count}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#00000' }">
                    <i class="pi pi-stopwatch text-2xl font-bold" style="color: #ef4444;"></i>
                </span>
            </div>
        </p-card>

        <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Proveedores</span>
                    <span class="font-bold text-3xl">{{graphCountTypeAccess?.[0]?.count}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#00000' }">
                    <i class="pi pi-list-check text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>

        <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
                <div class="flex flex-column gap-1">
                    <span class="text-secondary text-xl">Visitantes</span>
                    <span class="font-bold text-3xl">{{graphCountTypeAccess?.[1]?.count}}</span>
                </div>
                <span
                    class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                    [style]="{ color: '#00000' }">
                    <i class="pi pi-id-card text-2xl font-bold"></i>
                </span>
            </div>
        </p-card>

    </div>


    <div class="flex w-full gap-3 mt-5 column-responsive">
        <div class="flex card-info justify-content-center align-items-center w-full" style="height: 25rem;">
            <div class="flex flex-column h-full">
                <span class="text-center" style="font-weight: 600;">Proveedores vs Visitantes</span>
                @if (this.graphCountTypeAccess?.[0]?.percentage == 0 && 
                this.graphCountTypeAccess?.[1]?.percentage == 0) {
                    <div class="h-full w-full flex justify-content-center align-items-center">
                        <span>Sin datos disponibles</span>
                    </div>
                }@else {
                    <canvas class="dona mt-5" id="myDoughnutChart"></canvas>
                }
            </div>
        </div>

        <div class="flex flex-column gap-3 w-full" style="height: 25rem;">

            <div class="flex card-info justify-content-center align-items-center h-full">
                <div class="flex flex-column w-full h-full">
                    <span style="font-weight: 600;">Flujo de salidas</span>

                    <div class="flex flex-column w-full h-full justify-content-center">
                        <div class="flex flex-column">
                            <span class="mt-3" style="font-weight: 600;">Completadas</span>
                            <p-progressBar class="mt-2" id="completed-bar"
                                [value]="valueProgressBar(graphEntryStatus?.[0]?.count, graphEntryStatus?.[2]?.count)">
                            </p-progressBar>
                        </div>

                        <div class="flex flex-column">
                            <span class="mt-3" style="font-weight: 600;">Pendientes</span>
                            <p-progressBar class="mt-2" id="pend-bar"
                                [value]="valueProgressBar(graphEntryStatus?.[1]?.count, graphEntryStatus?.[2]?.count)">
                            </p-progressBar>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex card-info justify-content-center align-items-center h-full">
                <div class="flex flex-column w-full h-full">
                    <span class="mb-3" style="font-weight: 600;">Activos ingresados</span>

                    <div class="flex h-full flex-column gap-2">
                        <div class="flex flex-column w-full" *ngFor="let material of graphTopMaterials;">
                            <div class="flex justify-content-between">
                                <span>{{material.material_name}}</span>
                                <span>{{material.count}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>