:host::ng-deep

    .card-container
        border: 1px solid #8b8a8af3
        border-radius: 1rem
        // padding: 2rem
        // width: 50%
        padding-bottom: 1rem


    .card-product
        background-color: #f3f3f3
        border: 1px solid #8b8a8af3
        border-radius: .5rem
        padding: 1rem

    label
        color: #767683
        font-weight: 700

    .sku-tag
        background: #bcebc2
        color: #2a8532
        padding: 4px 10px
        border-radius: 6px
        font-size: 13px
        font-weight: 700
        display: flex
        align-items: center
        height: 40px
    
    .size-btn-remove
        height: 35px
        width: 65px
    
    .btn-add
        background: transparent
        color: #000666
        border: none

        &:focus
            box-shadow: none!important
            background: transparent
            color: #000666

    .w-responsive
        width: 50%
        @media screen and (max-width: 600px)
            width: 100%

    .p-dialog-header
        padding-bottom: 0
    