<p-toast></p-toast>

<p-dialog header="Header" [closable]="false" [(visible)]="showNewOrder" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-5">
                Nueva orden de compra
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <form action="" [formGroup]="orderForm">
            <div class="flex flex-column mt-2 gap-2">

                <span class="w-full">
                    <label htmlFor="number_order">Número de orden <span style="color: red;">*</span></label>
                    <input class="border-round w-full mt-2" pInputText type="text" id="number_order"
                        name="number_order" formControlName="number_order" maxlength="20" />
                    <div *ngIf="orderForm.get('number_order')?.hasError('campoVacio')">
                        <span class="validate-data">Este campo es obligatorio</span>
                    </div>
                </span>

                <span class="w-full">
                    <label htmlFor="type_order">Tipo de orden <span style="color: red;">*</span></label>
                    <p-dropdown [style]="{ boxShadow: 'none' }" styleClass="border-round w-full mt-2" formControlName="type_order"
                        id="type_order" [options]="typeOrders"
                        [emptyMessage]="messageEmpty"></p-dropdown>
                    <div *ngIf="orderForm.get('type_order')?.hasError('campoVacio')">
                        <span class="validate-data">Este campo es obligatorio</span>
                    </div>
                </span>

                <span class="w-full flex flex-column">
                    <label htmlFor="dates">Rango de fechas <span style="color: red;">*</span></label>
                    <p-calendar
                        dateFormat="dd/mm/yy"
                        styleClass="w-full"
                        [style]="{ boxShadow: 'none' }"
                        class="border-round w-full mt-2"
                        [(ngModel)]="rangeDates" 
                        appendTo="body"
                        selectionMode="range" 
                        [readonlyInput]="true"
                        [ngModelOptions]="{standalone: true}"
                    />
                </span>

                <span class="w-full">
                    <label htmlFor="destiny">Destino <span style="color: red;">*</span></label>
                    <p-dropdown [style]="{ boxShadow: 'none' }" styleClass="border-round w-full mt-2" formControlName="destiny_id"
                        id="destiny" [options]="optionGroupBusiness" optionLabel="name" optionValue="id_group_business"
                        [emptyMessage]="messageEmpty"></p-dropdown>
                    <div *ngIf="orderForm.get('destiny_id')?.hasError('campoVacio')">
                        <span class="validate-data">Este campo es obligatorio</span>
                    </div>
                </span>

                <span class="w-full">
                    <label htmlFor="provider">Proveedor <span style="color: red;">*</span></label>
                    <input class="border-round w-full mt-2" pInputText type="text" id="provider"
                        name="provider" formControlName="provider" maxlength="10" />
                    <div *ngIf="orderForm.get('provider')?.hasError('campoVacio')">
                        <span class="validate-data">Este campo es obligatorio</span>
                    </div>
                </span>

                <span class="w-full">
                    <label htmlFor="weight">
                        Cantidad
                        {{
                            orderForm.get('type_order')?.value
                                ? (
                                    orderForm.get('type_order')?.value === 'BALANCEADO'
                                        ? '(toneladas)'
                                        : '(galones)'
                                )
                                : ''
                        }}
                        <span style="color: red;">*</span>
                    </label>
                    <!-- <p-inputNumber class="border-round w-full mt-2" formControlName="quantity" [useGrouping]="false" styleClass="w-full"></p-inputNumber> -->
                    <input
                        class="border-round w-full mt-2"
                        pInputText
                        type="text"
                        id="quantity"
                        name="quantity"
                        formControlName="quantity"
                        maxlength="7"
                        (input)="onQuantityInput($event)"
                    />

                    <div *ngIf="orderForm.get('quantity')?.hasError('campoVacio')">
                        <span class="validate-data">Este campo es obligatorio</span>
                    </div>
                </span>


                <div class="flex flex-column mt-2 gap-2">
                    <span class="w-full">
                        <label htmlFor="observations">Observaciones</label>
                        <textarea
                            id="observaciones"
                            formControlName="observations"
                            class="form-textarea mt-2"
                            rows="4"
                        ></textarea>
                    </span>
                </div>
    
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-2" style="font-size: 15px;">
            <p-button label="Guardar" (onClick)="saveOrder()" styleClass="bg-btn-primary w-full">
            </p-button>
            <p-button label="Cerrar" (onClick)="showNewOrder = false" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Header" [closable]="false" [(visible)]="showAddDestiny" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-2">
                Nuevo destino
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
            <div class="flex flex-column mt-2 gap-3">
                <span class="w-full">
                    <div class="flex align-items-center gap-2">
                        <label class="text-color-secondary" htmlFor="shipping_guide">Orden: </label>
                        <label class="font-bold" htmlFor="shipping_guide">
                            {{ selectedOrder?.number_order || "N/A" }}
                        </label>
                    </div>
                </span>

                <span class="w-full flex align-items-center gap-2">
                    <i  pTooltip="Marcar esta opción mostrará la orden de compra para los guardias de los destinos agregados" 
                        tooltipPosition="top" class="pi pi-question-circle">
                    </i>
                    <label htmlFor="checkAllDestinies" class="text-color-secondary">¿Mostrar en todos los destinos?</label>
                    <p-checkbox 
                        name="checkAllDestinies" 
                        [binary]="true" 
                        [(ngModel)]="checkAllDestinies"                    
                    ></p-checkbox>
                </span>

                <span class="w-full">
                    <label class="text-color-secondary" htmlFor="type_order">Destinos</label>
                    <p-dropdown [style]="{ boxShadow: 'none' }" class="w-full" styleClass="border-round w-full mt-2" [autoDisplayFirst]="false"
                        id="type_order" [options]="destinyBySector" optionLabel="name" optionValue="id_group_business" appendTo="body"
                        [emptyMessage]="messageEmpty" [(ngModel)]="selectedDestiny"></p-dropdown>
                </span>
    
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-2" style="font-size: 15px;">
            <p-button label="Guardar" (onClick)="updateStatus({destiny_id: selectedDestiny, flag_all_destinies: checkAllDestinies})" styleClass="bg-btn-primary w-full">
            </p-button>
            <p-button label="Cerrar" (onClick)="closeModalUpdateOrder()" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Header" [closable]="false" [(visible)]="showAssignOrder" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-2">
                Asignar orden
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
            <div class="flex flex-column mt-2 gap-3">
                <span class="w-full">
                    <label class="text-color-secondary" htmlFor="type_order">Orden</label>
                    <p-dropdown [style]="{ boxShadow: 'none' }" class="w-full" styleClass="border-round w-full mt-2" [autoDisplayFirst]="false"
                        id="type_order" [options]="dataPurchaseOrder" optionLabel="label" optionValue="id_order" appendTo="body" 
                        [filter]="true" filterBy="number_order"
                        [emptyMessage]="messageEmpty" [(ngModel)]="selectedAssignOrder"></p-dropdown>
                </span>
    
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-2" style="font-size: 15px;">
            <p-button label="Guardar" (onClick)="assignOrder()" styleClass="bg-btn-primary w-full">
            </p-button>
            <p-button label="Cerrar" (onClick)="closeModalAssignOrder()" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Header" [closable]="false" [(visible)]="showModal" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-5">
                Detalle
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="flex justify-content-between card-info gap-2">
            <div class="flex flex-column">
                <div class="flex flex-column">
                    <label class="font-bold cab-label" htmlFor="shipping_guide">N. ORDEN: </label>
                    <label style="font-size: 23px;" class="font-bold mt-1" htmlFor="shipping_guide">
                        {{ selectedOrder?.number_order || "N/A" }}
                    </label>
                </div>
            
                <div class="flex align-items-center mt-4">
                    <i style="font-size: 0.8rem;" class="pi pi-calendar mr-2"></i>
            
                    <label htmlFor="shipping_guide">
                        {{ selectedOrder?.created_at | date:'dd/MM/yyyy':'UTC'}}
                    </label>
            
                    <i class="pi pi-clock mr-2 ml-2" style="font-size: 0.8rem;"></i>
            
                    <label htmlFor="shipping_guide">
                        {{ selectedOrder?.created_at | date:'HH:mm':'UTC'}}
                    </label>
                </div>
            </div>

            <div class="i-log">
                <i class="pi pi-file-check" style="color: #0056b3; font-size: 30px;"></i>
            </div>
        </div>

        <div class="div-responsive mt-2 gap-2">
            <div class="flex flex-column w-full card-info">
                <i class="pi pi-user mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">TIPO: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrder?.type_order ?? 'N/A'}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-hammer mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">CANTIDAD: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrder?.quantity ?? 'N/A'}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-truck mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">PROVEEDOR: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrder?.provider ?? 'N/A'}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-compass mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">DESTINO: </label>
                <label class="det-label" htmlFor="shipping_guide">{{getNameDestinies()}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-compass mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">FECHA INICIO - FIN: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrder?.start_date | date:'dd/MM/yyyy'}} - {{selectedOrder?.end_date | date:'dd/MM/yyyy'}}</label>
            </div>

        </div>

        <div class="flex flex-column card-info mt-2 gap-2">

            <div class="flex gap-2 w-full">
                <div class="det-avatar">
                    <i class="pi pi-user-edit" style="color: #0056b3;"></i>
                </div>
                <div class="flex flex-column">
                    <label class="font-bold cab-label" htmlFor="shipping_guide">CREADO POR: </label>
                    <label class="det-label" htmlFor="shipping_guide">{{selectedOrder?.created_by}}</label>
                </div>
            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-3" style="font-size: 15px;">
            <p-button label="Cerrar" (onClick)="showModal = false" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Header" id="update-logbook" [closable]="false" [(visible)]="showUpdate" [draggable]="false" [modal]="true"
    [style]="{ 'width': '23vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <i class="pi pi-exclamation-circle mt-4" style="color: #EB6506; font-size: 40px;"></i>
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-3">
                ¿Está seguro de continuar?
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-3" style="font-size: 15px;">
            <p-button label="Actualizar" (onClick)="updateStatus({status_update: 'Incompleto'})"
                styleClass="bg-btn-primary w-full">
            </p-button>
            <p-button label="Cancelar" (onClick)="showUpdate = false"
                styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Header" id="modalOrderReceipts" [closable]="false" [(visible)]="showModalReceipts" [draggable]="false" [modal]="true"
    [style]="{ 'width': '30vw', 'border-radius': '32px'}">
    <ng-template pTemplate="header">
        <div style="display: grid; place-items: center;">
            <h1 style="margin: 0; font-size: 22px;" class="text-center mt-5">
                Detalle
            </h1>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="flex justify-content-between card-info gap-2">
            <div class="flex flex-column">
                <div class="flex flex-column">
                    <label class="font-bold cab-label" htmlFor="shipping_guide">IDENTIFICACIÓN CONDUCTOR: </label>
                    <label style="font-size: 23px;" class="font-bold mt-1" htmlFor="shipping_guide">
                        {{ selectedOrderReceipts?.dni_driver || "N/A" }}
                    </label>
                </div>
            
                <div class="flex align-items-center mt-4">
                    <i style="font-size: 0.8rem;" class="pi pi-calendar mr-2"></i>
            
                    <label htmlFor="shipping_guide">
                        {{ selectedOrderReceipts?.created_at | date:'dd/MM/yyyy':'UTC'}}
                    </label>
            
                    <i class="pi pi-clock mr-2 ml-2" style="font-size: 0.8rem;"></i>
            
                    <label htmlFor="shipping_guide">
                        {{ selectedOrderReceipts?.created_at | date:'HH:mm':'UTC'}}
                    </label>
                </div>
            </div>

            <div class="i-log">
                <i class="pi pi-file-check" style="color: #0056b3; font-size: 30px;"></i>
            </div>
        </div>

        <div class="div-responsive mt-2 gap-2">
            <div class="flex flex-column w-full card-info">
                <i class="pi pi-user mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">CONDUCTOR: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrderReceipts?.driver ?? 'N/A'}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-truck mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">PLACA: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrderReceipts?.truck_license ?? 'N/A'}}</label>
            </div>

            <div class="flex flex-column w-full card-info">
                <i class="pi pi-hammer mb-3" style="color: #0056b3;"></i>
                <label class="font-bold cab-label" htmlFor="shipping_guide">CANTIDAD: </label>
                <label class="det-label" htmlFor="shipping_guide">{{selectedOrderReceipts?.quantity ?? 'N/A'}}</label>
            </div>
        </div>

        <div class="flex flex-column card-info mt-2 gap-2">

            <div class="flex gap-2 w-full">
                <div class="det-avatar">
                    <i class="pi pi-user-edit" style="color: #0056b3;"></i>
                </div>
                <div class="flex flex-column">
                    <label class="font-bold cab-label" htmlFor="shipping_guide">CREADO POR: </label>
                    <label class="det-label" htmlFor="shipping_guide">{{selectedOrderReceipts?.user}}</label>
                </div>
            </div>

            <div class="flex gap-2 w-full">
                <div class="det-avatar">
                    <i class="pi pi-user" style="color: #0056b3;"></i>
                </div>
                <div class="flex flex-column">
                    <label class="font-bold cab-label" htmlFor="shipping_guide">GUARDIA: </label>
                    <label class="det-label"  htmlFor="shipping_guide">{{selectedOrderReceipts?.name_user}}</label>
                </div>
            </div>

        </div>

        @if (selectedOrderReceipts?.images?.length > 0) {
            <h4 class="mt-4">IMÁGENES</h4>
            <div class="div-responsive mt-3">
                <div class="flex justify-content-center" *ngFor="let image of selectedOrderReceipts?.images">
                    <img style="object-fit: contain;" [src]="'http://st.telearseg.net' + image" alt="imagenes"
                        loading="lazy" height="190" width="180">
                </div>
            </div>
        }
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-center gap-3 mt-3" style="font-size: 15px;">
            <p-button label="Cerrar" (onClick)="closeModalOrderReceipts()" styleClass="bg-btn-cancel w-full">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<div
    class="bg-bluegray-50 mt-header border-round-2xl flex flex-column flex-no-wrap justify-content-center align-items-end">
    
    <div class="bg-white w-12 flex flex-column p-responsive py-5 border-round-md flex-wrap" style="overflow: auto">
        <div class="flex align-items-center justify-content-between mb-5">
            <h1 class="font-verdana text-primary--custom pl-responsive">Ordenes de compra</h1>
            <p-button label="Nueva orden" icon="pi pi-plus" (onClick)="showNewOrder = true" styleClass="bg-btn-primary w-full">
            </p-button>
        </div>
        <div class="card w-full pd-table" id="table-logbooks">
            <p-tabView>
                <p-tabPanel header="Ordenes">
                    <p-table  #dt_order
                        [value]="dataPurchaseOrder"
                        [paginator]="true"
                        [rows]="5"
                        [globalFilterFields]="['number_order','destiny_name','provider', 'type_order']"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'max-width': '100%' }"
                        rowStyleClass="custom-row-height"
                        [expandedRowKeys]="expandedRows"
                        rowExpandMode="single"
                        dataKey="id_order"
                    >
                        <ng-template pTemplate="caption">
                            
                            <div class="w-full flex justify-content-between align-items-center">
                                <div
                                    class="p-inputgroup flex h-3rem p-input-icon-left border-round-2xl w-search-table"
                                >
                                    <i style="z-index: 2;" class="pi pi-search text-primary--custom"></i>
                                    <input 
                                        class="border-none shadow-none--custom border-round-left-2xl border-round-right-2xl" 
                                        type="text"
                                        pInputText 
                                        (input)="dt_order.filterGlobal($any($event.target).value, 'contains')" 
                                    />         
                                    <p-columnFilter #imagePanel id="dateFilter" style="position: relative; z-index: 3; right: 3rem; margin-top: 7px;" type="date" field="date" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <div class="flex w-full flex-column gap-3">
        
                                                <p-calendar [(ngModel)]="dateRangeFilter" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
                                                    [readonlyInput]="true" placeholder="Rango de fechas" [style]="{ boxShadow: 'none' }"
                                                    styleClass="border-round w-full">
                                                </p-calendar>
        
        
                                                <div class="flex gap-2">
                                                    <button (click)="applyFilter(imagePanel)" 
                                                    style="background: linear-gradient(0deg, #22a183 0%, #1f9f63 100%) !important; border: transparent;"
                                                    type="button" pbutton="" pripple="" class="p-element p-button-sm p-button p-component" ng-reflect-label="Apply">
                                                        <span style="font-size: 12px;" class="p-button-label b-apply">Aplicar</span>
                                                    </button>
                                                    <button (click)="clearFilter()" type="button" pbutton="" pripple="" 
                                                    style="background: white !important; border: 1px solid #038945; color: #129578;"
                                                    class="p-element p-button-outlined p-button-sm p-button p-component" ng-reflect-label="Clear">
                                                        <span style="font-size: 12px;" class="p-button-label">Limpiar</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
        
                                <div class="flex gap-2">
                                    <p-button label="" icon="pi pi-sync" class="w-reload" (onClick)="reloadDataDispatch()"
                                        styleClass="w-full bg-white text-primary--custom b-reload border-round-1xl h-full">
                                    </p-button>
                                </div>
        
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5rem"></th>
                                <th scope="col">Opciones</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Orden</th>
                                <th scope="col">Tipo orden</th>
                                <th scope="col">Camaronera</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Restante</th>
                                <!-- <th scope="col">Permanencia</th> -->
                                <th scope="col">Estado</th>
                            </tr>
                        </ng-template>                
                        <ng-template pTemplate="body" let-order let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-button type="button" pRipple [pRowToggler]="order" [text]="true" [style]="{ boxShadow: 'none' }"
                                        [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
                                    />
                                </td>
                                <td data-titulo="Opciones:">
                                    <p-splitButton id="option-table" appendTo="body" (click)="optionsDispatch(order)" [model]="items">
                                        <ng-template pTemplate="dropdownicon">
                                            <i class="pi pi-ellipsis-h" style="color: #83378f;"></i>
                                        </ng-template>
                                    </p-splitButton>
                                </td>
                                <td  data-titulo="Fecha:" [ngxTippy]="'Hora de registro: ' + (order?.created_at | date:'HH:mm':'UTC')">{{ order?.created_at | date:'dd/MM/yyyy':'UTC' }}</td>
                                <td  data-titulo="Orden:">{{ order?.number_order ?? 'N/A' }}</td>
                                <td  data-titulo="Tipo orden:">{{ order?.type_order }}</td>
                                <td  data-titulo="Camaronera:">{{ order?.destiny_name ?? 'N/A' }}</td>
                                <td  data-titulo="Cantidad:">{{ order?.quantity ?? 'N/A' }} {{ order?.type_order === 'BALANCEADO' ? 'KG' : 'G'}}</td>
                                <td  data-titulo="Restante:">{{ order?.remaining_quantity ?? 'N/A' }} {{ order?.type_order === 'BALANCEADO' ? 'KG' : 'G'}}</td>
                                <td  data-titulo="Estado:">
                                    <p-tag [value]="order?.status_name" [severity]="utilsService.getSeverityPurchaseOrder(order?.status_name)"></p-tag>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-order>
                            <tr>
                                <td colspan="7">
                                    <div class="p-3 flex w-full">
                                        <p-table [value]="order.receipts" dataKey="id_receipts" class="w-full" styleClass="w-full">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Acciones</th>
                                                    <th>Placa</th>
                                                    <th>Conductor</th>
                                                    <th>Cantidad</th>
                                                    <th>Conversión</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-order>
                                                <tr>
                                                    <td><i class="pi pi-eye cursor-pointer" (click)="viewDetailsReceipts(order)"></i></td>
                                                    <td>{{ order?.logbook_entry?.truck_license ?? 'N/A' }}</td>
                                                    <td>{{ order?.logbook_entry?.driver ?? 'N/A'}}</td>
                                                    <td>{{ order?.logbook_entry?.quantity ?? 'N/A'}} sacos</td>
                                                    <td>{{ order?.converted_amount ?? 'N/A'}} KG</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="9" class="text-center">Sin datos.</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" class="text-center" style="font-size: 18px; font-weight: 700;">No hay datos disponibles</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Sin asignar">
                    <p-table  #dt_withoutorder
                        [value]="dataWithoutOrder"
                        [paginator]="true"
                        [rows]="5"
                        [globalFilterFields]="['number_order','destiny_name','provider', 'type_order']"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'max-width': '100%' }"
                        rowStyleClass="custom-row-height"
                        [expandedRowKeys]="expandedRows"
                        rowExpandMode="single"
                        dataKey="id_order"
                    >
                        <ng-template pTemplate="caption">
                            
                            <div class="w-full flex justify-content-between align-items-center">
                                <div
                                    class="p-inputgroup flex h-3rem p-input-icon-left border-round-2xl w-search-table"
                                >
                                    <i style="z-index: 2;" class="pi pi-search text-primary--custom"></i>
                                    <input 
                                        class="border-none shadow-none--custom border-round-left-2xl border-round-right-2xl" 
                                        type="text"
                                        pInputText 
                                        (input)="dt_withoutorder.filterGlobal($any($event.target).value, 'contains')" 
                                    />         
                                    <p-columnFilter #imagePanel id="dateFilter" style="position: relative; z-index: 3; right: 3rem; margin-top: 7px;" type="date" field="date" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <div class="flex w-full flex-column gap-3">
        
                                                <p-calendar [(ngModel)]="dateRangeFilter" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
                                                    [readonlyInput]="true" placeholder="Rango de fechas" [style]="{ boxShadow: 'none' }"
                                                    styleClass="border-round w-full">
                                                </p-calendar>
        
        
                                                <div class="flex gap-2">
                                                    <button (click)="applyFilter(imagePanel)" 
                                                    style="background: linear-gradient(0deg, #22a183 0%, #1f9f63 100%) !important; border: transparent;"
                                                    type="button" pbutton="" pripple="" class="p-element p-button-sm p-button p-component" ng-reflect-label="Apply">
                                                        <span style="font-size: 12px;" class="p-button-label b-apply">Aplicar</span>
                                                    </button>
                                                    <button (click)="clearFilter()" type="button" pbutton="" pripple="" 
                                                    style="background: white !important; border: 1px solid #038945; color: #129578;"
                                                    class="p-element p-button-outlined p-button-sm p-button p-component" ng-reflect-label="Clear">
                                                        <span style="font-size: 12px;" class="p-button-label">Limpiar</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
        
                                <div class="flex gap-2">
                                    <p-button label="" icon="pi pi-sync" class="w-reload" (onClick)="reloadDataDispatch()"
                                        styleClass="w-full bg-white text-primary--custom b-reload border-round-1xl h-full">
                                    </p-button>
                                </div>
        
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Acciones</th>
                                <th>Placa</th>
                                <th>Conductor</th>
                                <th>Cantidad</th>
                                <th>Conversión</th>
                            </tr>
                        </ng-template>                
                        <ng-template pTemplate="body" let-order let-expanded="expanded">
                            <tr>
                                <td data-titulo="Opciones:">
                                    <p-splitButton id="option-table" appendTo="body" (click)="optionsOrderReceipts(order)" [model]="itemsWithoutOrder">
                                        <ng-template pTemplate="dropdownicon">
                                            <i class="pi pi-ellipsis-h" style="color: #83378f;"></i>
                                        </ng-template>
                                    </p-splitButton>
                                </td>
                                <td>{{ order?.logbook_entry?.truck_license ?? 'N/A' }}</td>
                                <td>{{ order?.logbook_entry?.driver ?? 'N/A'}}</td>
                                <td>{{ order?.logbook_entry?.quantity ?? 'N/A'}} sacos</td>
                                <td>{{ order?.converted_amount ?? 'N/A'}} KG</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" class="text-center" style="font-size: 18px; font-weight: 700;">No hay datos disponibles</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

            </p-tabView>

        </div>
    </div>
</div>

<div class="overlay" *ngIf="isLoading">
    <p-progressSpinner
      class="center-spinner"
      [style]="{ width: '50px', height: '50px' }"
      strokeWidth="8"
      fill="#007bff"
      animationDuration="2s"
    ></p-progressSpinner>
</div>

