<p-toast></p-toast>
<div
  class="flex w-screen min-h-screen justify-content-center align-items-center bg-login"
>
  <div class="flex justify-content-start w-full" style="position: absolute;">    
    <svg xmlns="http://www.w3.org/2000/svg" width="1500" height="600" viewBox="65 0 59 74" version="1.1">
      <path
        d="M 24.045 15.609 C 12.245 20.799, 2.239 25.597, 1.810 26.272 C 0.648 28.102, 0.838 49.828, 2.035 52.066 C 2.605 53.130, 3.646 54, 4.350 54 C 6.758 54, 47.498 35.872, 48.750 34.244 C 49.592 33.149, 50 28.662, 50 20.509 C 50 8.696, 49.321 5.858, 46.550 6.087 C 45.973 6.134, 35.845 10.419, 24.045 15.609 M 25.250 48.837 C 16.863 52.457, 10 55.664, 10 55.963 C 10 56.799, 36.266 68.008, 38.215 68.004 C 39.158 68.002, 40.395 67.130, 40.965 66.066 C 42.137 63.875, 42.361 45.097, 41.235 43.378 C 40.734 42.612, 35.650 44.349, 25.250 48.837"
        stroke="none" fill="#efe2f7" fill-rule="evenodd" />
      <path
        d="M 24.045 15.609 C 12.245 20.799, 2.239 25.597, 1.810 26.272 C 0.648 28.102, 0.838 49.828, 2.035 52.066 C 2.605 53.130, 3.646 54, 4.350 54 C 6.758 54, 47.498 35.872, 48.750 34.244 C 49.592 33.149, 50 28.662, 50 20.509 C 50 8.696, 49.321 5.858, 46.550 6.087 C 45.973 6.134, 35.845 10.419, 24.045 15.609 M 25.250 48.837 C 16.863 52.457, 10 55.664, 10 55.963 C 10 56.799, 36.266 68.008, 38.215 68.004 C 39.158 68.002, 40.395 67.130, 40.965 66.066 C 42.137 63.875, 42.361 45.097, 41.235 43.378 C 40.734 42.612, 35.650 44.349, 25.250 48.837"
        stroke="none" fill="#efe2f7" fill-rule="evenodd" />
      <path d="" stroke="none" fill="#fffcfc" fill-rule="evenodd" />
      <path d="" stroke="none" fill="#fcfcfc" fill-rule="evenodd" />
    </svg>
    
  </div>

  <div
    style="position: relative; z-index: 2;" class="flex flex-column justify-content-center align-items-center border-round-3xl overflow-hidden"
  >
    <div
      class="w-30rem flex flex-column h-9rem justify-content-center align-items-center bg-gradient b-login-header"
    >

      <div class="flex mt-3">
        <svg width="48" height="34" viewBox="0 0 68 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M36.4843 25.9854C35.6946 25.7091 35.1912 25.0751 35.1912 24.376V12.2403C35.1912 10.9885 36.7509 10.1431 38.1526 10.6308L58.6161 17.8489L59.5835 18.1822C61.5677 18.8243 61.8244 20.0842 61.8244 21.8074V32.2606C61.8244 33.5124 60.2647 34.3577 58.8629 33.87L38.3994 26.652L36.4942 25.9854H36.4843Z"
            fill="#c7931d" />
          <path
            d="M35.1813 13.8335V24.3435C35.1813 25.5953 36.741 26.4407 38.1427 25.953L64.4205 16.6784L65.3879 16.3452C67.3721 15.703 67.6288 14.4431 67.6288 12.7199V2.20169C67.6288 0.949915 66.0691 0.104558 64.6673 0.592264L38.3895 9.8668L36.3955 10.6553C35.6551 10.9479 35.1911 11.5575 35.1911 12.2322V13.8253L35.1813 13.8335Z"
            fill="#ffcf00" />
          <path
            d="M31.4301 25.9854C32.2198 25.7091 32.7233 25.0751 32.7233 24.376V12.2403C32.7233 10.9885 31.1636 10.1431 29.7619 10.6308L9.3082 17.8408L8.3408 18.174C6.35663 18.8162 6.09998 20.0761 6.09998 21.7993V32.2525C6.09998 33.5042 7.65967 34.3496 9.06141 33.8619L29.5249 26.6438L31.4301 25.9773V25.9854Z"
            fill="#c7931d" />
          <path
            d="M32.7233 13.8335V24.3435C32.7233 25.5953 31.1636 26.4407 29.7619 25.953L3.49393 16.6703L2.52653 16.337C0.532492 15.6949 0.285706 14.4431 0.285706 12.7118V2.20169C0.285706 0.949915 1.8454 0.104558 3.24714 0.592264L29.525 9.8668L31.519 10.6553C32.2593 10.9479 32.7233 11.5575 32.7233 12.2322V13.8253V13.8335Z"
            fill="#ffcf00" />
        </svg>

        <span style="margin-left: 10px;" class="text-3xl font-verdana text-yellow-500 font-bold">xtrim</span>
      </div>

      <span class="text-3xl text-white font-bold font-verdana" style="margin-top: 8px;"
        >Recuperar Contraseña</span
      >
    </div>
    <div
      class="w-30rem flex flex-column h-22rem justify-content-start align-items-center bg-card-login pt-5 border-white"
      *ngIf="step == 1"
    >
      <span
        class="text-sm font-verdana font-bold text-500 align-self-start ml-8"
        >PASO 1 DE 3</span
      >
      <span
        class="text-sm font-verdana font-semibold text-500 align-self-start ml-8 mr-8 mt-3"
      >
        Por favor, ingresa tus datos y te enviaremos un código para recuperar tu
        contraseña.
      </span>
      <div class="flex flex-column gap-2 p-input-icon-left mt-3">
        <label
          htmlFor="username"
          class="text-color-secondary font-verdana font-semibold"
        >
          Usuario
        </label>
        <i class="pi pi-user flex m-auto pt-1" style="color: #83378f"></i>
        <input
          pInputText
          aria-describedby="username-help"
          #submitContinue
          class="text-sm p-inputtext-lg w-20rem bg-purple-50 b-color-purple"
          placeholder="Ingresa tu codigo o correo electronico"
          [value]="recoverEmail"
          (input)="onEmailSet($event)"
        />
      </div>
      <p-button
        label="Continuar"
        class="mt-5"
        styleClass="p-button-lg p-button--custom px-6"
        (onClick)="next()"
        [disabled]="!recoverEmail.length"
      ></p-button>
      <p-button label="Regresar" styleClass="p-button-lg p-button--custom--b px-6 mt-2 w-12rem-button"
        (onClick)="back()">
      </p-button>
    </div>
    <div
      class="w-30rem flex flex-column h-20rem justify-content-start align-items-center bg-purple-50 pt-5 border-white"
      *ngIf="step == 2"
    >
      <span
        class="text-sm font-verdana font-bold text-500 align-self-start ml-8"
        >PASO 2 DE 3</span
      >
      <span
        class="text-2xl font-verdana font-bold text-primary--custom align-self-start ml-8 mr-8 mt-3"
      >
        Confirma tu identidad
      </span>
      <span
        class="text-sm font-verdana font-bold text-500 align-self-start ml-8 mr-8 mt-3"
      >
        Ingresa el código que te enviamos a tu correo {{ ofuscatedEmail }}
      </span>
      <div class="flex flex-column gap-2 p-input-icon-left mt-3">
        <input
          pInputText
          aria-describedby="username-help"
          (input)="setTokenRecover($event)"
          class="text-sm p-inputtext-lg w-20rem bg-purple-50 b-color-purple"
        />
      </div>
      <div class="flex">
        <p-button
          label="Regresar"
          class="mt-5 mr-3"
          styleClass="p-button-lg p-button--custom-prev px-5"
          (onClick)="prev()"
        ></p-button>
        <p-button
          label="Continuar"
          class="mt-5"
          styleClass="p-button-lg p-button--custom px-5"
          (onClick)="next()"
        ></p-button>
      </div>
    </div>
    <div
      class="w-30rem flex flex-column h-27rem justify-content-start align-items-center bg-purple-50 pt-5 border-white"
      *ngIf="step == 3"
    >
      <span
        class="text-sm font-verdana font-bold text-500 align-self-start ml-8"
        >PASO 3 DE 3</span
      >
      <span
        class="text-1xl font-verdana font-bold text-primary--custom align-self-start ml-8 mr-8 mt-3"
      >
        Escribe tu nueva contraseña
      </span>
      <div class="flex flex-column gap-2 p-input-icon-left mt-3">
        <label
          htmlFor="username"
          class="text-color-secondary font-verdana font-semibold"
        >
          Contraseña
        </label>
        <i class="pi pi-lock" style="color: #83378f"></i>
        <input
          pInputText
          type="password"
          aria-describedby="username-help"
          class="text-sm p-inputtext-lg w-20rem bg-purple-50 b-color-purple"
          placeholder="Ingresa tu contraseña"
          (input)="setPassword($event.target)"
        />
        <small class="text-500">
          Utiliza mínimo 7 caracteres alfanuméricos
        </small>
      </div>
      <div class="flex flex-column gap-2 p-input-icon-left mt-3">
        <label
          htmlFor="username"
          class="text-color-secondary font-verdana font-semibold"
        >
          Confirmar contraseña
        </label>
        <i class="pi pi-lock" style="color: #83378f"></i>
        <input
          pInputText
          type="password"
          aria-describedby="username-help"
          class="text-sm p-inputtext-lg w-20rem bg-purple-50 b-color-purple"
          placeholder="Ingresa tu contraseña"
        />
        <small class="text-500">Repite tu contraseña</small>
      </div>
      <div class="flex">
        <p-button
          label="Regresar"
          class="mt-5 mr-3"
          styleClass="p-button-lg p-button--custom-prev px-5"
          (onClick)="prev()"
        ></p-button>
        <p-button
          label="Confirmar"
          class="mt-5"
          styleClass="p-button-lg p-button--custom px-5"
          (onClick)="onSubmit()"
        ></p-button>
      </div>
    </div>
  </div>

  <div class="flex justify-content-end w-full" style="position: absolute;">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="600" viewBox="0 0 62 74" version="1.1">
      <path
        d="M 11.200 7.200 C 9.508 8.892, 9.551 32.049, 11.250 34.202 C 12.488 35.770, 53.455 54, 55.742 54 C 56.395 54, 57.395 53.130, 57.965 52.066 C 59.143 49.865, 59.361 28.115, 58.222 26.326 C 57.561 25.285, 14.707 6, 13.057 6 C 12.696 6, 11.860 6.540, 11.200 7.200 M 19.220 54.763 C 19.471 66.178, 19.687 67.511, 21.336 67.828 C 23.171 68.179, 50 57.085, 50 55.975 C 50 55.652, 46.737 54.004, 42.750 52.313 C 38.763 50.621, 31.774 47.620, 27.220 45.644 L 18.941 42.050 19.220 54.763"
        stroke="none" fill="#efe2f7" fill-rule="evenodd" />
      <path d="" stroke="none" fill="#fffcfc" fill-rule="evenodd" />
      <path d="" stroke="none" fill="#fcfcfc" fill-rule="evenodd" />
    </svg>
    
  </div>

</div>
