<p-toast></p-toast>

<div [class]="{ 'w-calc': toggle(), 'w-screen-dashboard': !toggle() }"
  class="container xl:justify-content-evenly p-3-responsive border-box bg-white mt-dashboard flex-column">
  <div class="flex w-full flex-column mb-3 px-5">
    <h2>¡Hola {{user_session?.attributes?.fullname ?? 'Desconocido'}}!</h2>
  </div>

  <div class="flex w-full justify-content-center column-responsive">
    <div class="flex flex-column align-items-center p-3-responsive xl:w-7 w-full h-funnel">

      <app-doughnut class="w-full bg-funnel shadow-1 border-round-2xl"></app-doughnut>
    </div>

    <div class="flex flex-column align-items-center p-3-responsive h-funnel">
      <div class="bg-funnel shadow-1 border-round-2xl w-history">
        <div class="p-5 flex flex-column">
          <app-logbook-recent></app-logbook-recent>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="overlay" *ngIf="isLoading">
  <p-progressSpinner
    class="center-spinner"
    [style]="{ width: '50px', height: '50px' }"
    strokeWidth="8"
    fill="#007bff"
    animationDuration="2s"
  ></p-progressSpinner>
</div>